.container {
  display: flex;
  background-color: var(--primary-light);
  justify-content: center;
  padding: 1rem 4rem;
  color: white;

  .image {
    text-align: center;
    margin: auto;
  }

  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}
