.container {
  min-height: 700px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.image {
  border-radius: 8px;
  object-fit: cover;
}

.backLink {
  display: flex;
  align-items: center;
  margin-top: 30px;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;

    .icon {
      transform: translateX(-5px);
    }
  }
  .icon {
    margin-right: 3px;
    transition: transform 0.25s ease;
  }
}

.containerContent {
  display: flex;

  .content {
    margin-left: 1rem;

    .starIcon {
      color: var(--primary-light);
    }
  }

  .description {
    margin-top: 15px;
    font-size: 1.1rem;
    color: var(--text-black);
  }

  .price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-black);
    margin-top: 10px;
  }

  .details {
    display: flex;
    gap: 0 1rem;
    p {
      font-size: 1.1rem;
      margin: 5px 0;
    }
  }

  .variance {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: var(--secondary);
    text-transform: capitalize;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    .image {
      width: 100%;
    }

    .content {
      margin-left: 0;
    }

    .variance {
      margin-top: 1rem;
    }
  }
}
